cpp_code
c_code
cleaned_c
compiled_c
code
ASM_FILES
C_FILES
vscode/
# archive/
.env

data/LEETCODE/cpp_code
data/LEETCODE/c_code
data/LEETCODE/cleaned_c
data/LEETCODE/compiled_c
data/LEETCODE/code
data/LEETCODE/ASM_FILES
data/LEETCODE/C_FILES
.DS_Store
leetcode_renamed_data/

data/leetcode_data/
data/leetcode_data_FINAL/

model_checkpoints/