<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <!-- <meta name="description" content="BLABHALBALBHABALBAHB">
	    <meta name="keywords" content="BLABHALBALBHABALBAHB"> -->
        <title> Neural Decompiler </title>
        <link rel="stylesheet" href="static/reset.css">
        <link rel="stylesheet" href="static/app.css">
        <script src="static/app.js"></script>
    </head>

    <body class="grid"> 
        <h4> Neural Decompiler </h4>
        <h5> A transformer-based neural network trained on 5,000,000+ parameters, designed to translate low-level x86-64 assembly instructions to human-readable C programs. </h5>
        <form spellcheck="false">
            <div id="code-containers" class="row">
                <div class="column code-container">
                    <label for="asm-input">Input Assembly Here:</label>
                    <textarea id="asm-input" placeholder="f:
    pushq   %rbp
    movq    %rsp, %rbp
    movl    $0, %eax
    popq    %rbp
    ret"></textarea>
                    <button id="decompile-button" type="button" onclick="decompile()">
                        Decompile!
                    </button>
                </div>
                
                <div class="column code-container">
                    <label for="c-output">Translated C Code:</label>
                    <div style="position:relative">
                        <textarea id="c-output"></textarea>
                        <div id="loader" class="hidden"></div>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>
